<div class="row">
  <div class="col-12" id="active-qso-statbtn">
    <div class="card dashboard-activity-card">
      <div class="card-header">
        <h3 class="card-title" id="act_tbl"></h3>
      </div>
      <div class="card-body">
        <div class="activity-qso-grid">
          {% for _master in _table['MASTERS'] %}
          {% for _client, _cdata in _table['MASTERS'][_master]['PEERS'].items() %}
          {% if _cdata[1]['TS'] == True or _cdata[2]['TS'] == True %}
          {% if _cdata[1]['TRX'] in ("RX", "UNIT_TX", "UNIT_RX") %}
          <div class="activity-qso-badge">
            <span class="badge text-sm {% if _cdata[1]['TRX'] == 'UNIT_TX' %}badge-unit-tx{% elif _cdata[1]['TRX'] == 'UNIT_RX' %}badge-unit-rx{% else %}badge-danger{% endif %}">
              <table>
                <tbody>
                  <tr>
                    <td rowspan="2">{% if _cdata[1]['TRX'] == 'UNIT_RX' %}RX{% else %}TX{% endif %} |</td>
                    <td>{{ _cdata[1]['CALL']|safe }}</td>
                  </tr>
                  <tr>
                    <td class="text-xs text-dark">{{ _cdata[1]['TG']|safe }}</td>
                  </tr>
                </tbody>
              </table>
            </span>
          </div>
          {% endif %}
          {% if _cdata[2]['TRX'] in ("RX", "UNIT_TX", "UNIT_RX") %}
          <div class="activity-qso-badge">
            <span class="badge text-sm {% if _cdata[2]['TRX'] == 'UNIT_TX' %}badge-unit-tx{% elif _cdata[2]['TRX'] == 'UNIT_RX' %}badge-unit-rx{% else %}badge-danger{% endif %}">
              <table>
                <tbody>
                  <tr>
                    <td rowspan="2">{% if _cdata[2]['TRX'] == 'UNIT_RX' %}RX{% else %}TX{% endif %} |</td>
                    <td>{{ _cdata[2]['CALL']|safe}}</td>
                  </tr>
                  <tr>
                    <td class="text-xs text-dark">{{_cdata[2]['TG']|safe}}</td>
                  </tr>
                </tbody>
              </table>
            </span>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
          {% for _peer, _pdata in _table['PEERS'].items() %}
          {% if _pdata[1]['TS'] == True or _pdata[2]['TS'] == True %}
          {% if _pdata[1]['TRX'] in ("RX", "UNIT_TX", "UNIT_RX") %}
          <div class="activity-qso-badge">
            <span class="badge text-sm {% if _pdata[1]['TRX'] == 'UNIT_TX' %}badge-unit-tx{% elif _pdata[1]['TRX'] == 'UNIT_RX' %}badge-unit-rx{% else %}badge-danger{% endif %}">
              <table>
                <tbody>
                  <tr>
                    <td rowspan="2">{% if _pdata[1]['TRX'] == 'UNIT_RX' %}RX{% else %}TX{% endif %} |</td>
                    <td>{{ _pdata[1]['CALL']|safe }}</td>
                  </tr>
                  <tr>
                    <td class="text-xs text-dark">{{ _pdata[1]['TG']|safe }}</td>
                  </tr>
                </tbody>
              </table>
            </span>
          </div>
          {% endif %}
          {% if _pdata[2]['TRX'] in ("RX", "UNIT_TX", "UNIT_RX") %}
          <div class="activity-qso-badge">
            <span class="badge text-sm {% if _pdata[2]['TRX'] == 'UNIT_TX' %}badge-unit-tx{% elif _pdata[2]['TRX'] == 'UNIT_RX' %}badge-unit-rx{% else %}badge-danger{% endif %}">
              <table>
                <tbody>
                  <tr>
                    <td rowspan="2">{% if _pdata[2]['TRX'] == 'UNIT_RX' %}RX{% else %}TX{% endif %} |</td>
                    <td>{{ _pdata[2]['CALL']|safe }}</td>
                  </tr>
                  <tr>
                    <td class="text-xs text-dark">{{ _pdata[2]['TG']|safe }}</td>
                  </tr>
                </tbody>
              </table>
            </span>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% if _table['OPENBRIDGES']|length >0 %}
          {% for _openbridge in _table['OPENBRIDGES'] %}
          {% if _table['OPENBRIDGES'][_openbridge]['STREAMS']|length >0 %}
          {% for entry, stream in _table['OPENBRIDGES'][_openbridge]['STREAMS'].items() %}
          {% if stream is mapping and stream.get('TYPE') == 'UNIT VOICE' %}
          <div class="activity-qso-badge">
            <span class="badge {{ 'badge-unit-tx' if stream['ROLE'] == 'OUT' else 'badge-unit-rx' }} text-sm">
              <table>
                <tbody>
                  <tr>
                    <td rowspan="2">PC {{ stream['ROLE'] }} |</td>
                    <td>{{ stream['CALL'] }}</td>
                  </tr>
                  <tr>
                    <td class="text-xs text-dark">PC {{ stream['DEST'] }}</td>
                  </tr>
                </tbody>
              </table>
            </span>
          </div>
          {% elif stream[0] == 'RX' %}
          <div class="activity-qso-badge">
            <span class="badge badge-success text-sm">
              <table>
                <tbody>
                  <tr>
                    <td rowspan="2">{{ stream[0]}} |</td>
                    <td>{{ stream[1]}}</td>
                  </tr>
                  <tr>
                    <td class="text-xs text-dark">TG {{ stream[2]}}</td>
                  </tr>
                </tbody>
              </table>
            </span>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
