{% set countcon = namespace(value=0) %}
{% set countrepeaters = namespace(value=0) %}
{% set counthotspots = namespace(value=0) %}
{% set countbridges = namespace(value=0) %}

{% for _master in _table['MASTERS'] %}
  {% for _client, _cdata in _table['MASTERS'][_master]['PEERS'].items() %}
    {% if _cdata.get('PROTOCOL') == 'IPSC' %}
      {% set countrepeaters.value = countrepeaters.value + 1 %}
    {% elif _client|string|length == 6 and _cdata['RX_FREQ'] != 'N/A' and _cdata['TX_FREQ'] != 'N/A' %}
      {% set countrepeaters.value = countrepeaters.value + 1 %}
    {% endif %}
    {% if _client|string|length >= 7 and _cdata['RX_FREQ'] != 'N/A' and _cdata['TX_FREQ'] != 'N/A' %}
      {% set counthotspots.value = counthotspots.value + 1 %}
    {% endif %}
    {% if _cdata['RX_FREQ'] == 'N/A' and _cdata['TX_FREQ'] == 'N/A' and _cdata.get('PROTOCOL') != 'IPSC' %}
      {% set countbridges.value = countbridges.value + 1 %}
    {% endif %}
    {% if _cdata[1]['TS'] == True or _cdata[2]['TS'] == True %}
      {% if _cdata[1]['TRX'] == "RX" %}
        {% set countcon.value = countcon.value + 1 %}
      {% endif %}
      {% if _cdata[2]['TRX'] == "RX" %}
        {% set countcon.value = countcon.value + 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% for _peer, _pdata in _table['PEERS'].items() %}
  {% if _pdata[1]['TS'] == True or _pdata[2]['TS'] == True %}
    {% if _pdata[1]['TRX'] == "RX" %}
      {% set countcon.value = countcon.value + 1 %}
    {% endif %}
    {% if _pdata[2]['TRX'] == "RX" %}
      {% set countcon.value = countcon.value + 1 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if _table['OPENBRIDGES']|length > 0 %}
  {% for _openbridge in _table['OPENBRIDGES'] %}
    {% set rx = namespace(value=0) %}
    {% if _table['OPENBRIDGES'][_openbridge]['STREAMS']|length > 0 %}
      {% for entry in _table['OPENBRIDGES'][_openbridge]['STREAMS'] if _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][0] == 'RX' %}
        {% set rx.value=1 %}
      {% endfor %}
      {% if rx.value == 1 %}
        {% for entry in _table['OPENBRIDGES'][_openbridge]['STREAMS'] if _table['OPENBRIDGES'][_openbridge]['STREAMS'][entry][0] == 'RX' %}
          {% set countcon.value = countcon.value + 1 %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="row">
  <div class="col-lg-3 col-6">
    <a href="#active-qso-statbtn">
      <div class="small-box bg-info dashboard-stat">
        <div class="inner">
          <h3>{{ countcon.value }}</h3>
          <p id="smb_aq"></p>
        </div>
        <div class="icon">
          <i class="ion ion-shuffle"></i>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-6">
    <a href="#rptrs-statbtn">
      <div class="small-box bg-success dashboard-stat">
        <div class="inner">
          <h3>{{ countrepeaters.value }}</h3>
          <p id="smb_rptr"></p>
        </div>
        <div class="icon">
          <i class="ion ion-radio-waves"></i>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-6">
    <a href="#htspts-statbtn">
      <div class="small-box bg-warning dashboard-stat">
        <div class="inner">
          <h3>{{ counthotspots.value }}</h3>
          <p id="smb_htspts"></p>
        </div>
        <div class="icon">
          <i class="ion ion-ios-people"></i>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-3 col-6">
    <a href="#brdg-statbtn">
      <div class="small-box bg-danger dashboard-stat">
        <div class="inner">
          <h3>{{ countbridges.value }}</h3>
          <p id="smb_brdg"></p>
        </div>
        <div class="icon">
          <i class="ion ion-arrow-swap"></i>
        </div>
      </div>
    </a>
  </div>
</div>
