{#
  Top Talkgroups Count Table
  Displays most active talkgroups with statistics
  
  Expected data: _table list with talkgroup statistics
  - Each entry contains: TG ID, TG name, number of QSOs, total time, top callsigns
  - Includes country flags and system icons (Yaesu, Echolink, AllStarLink, Tetra, D-Star/XLX, M17)
#}
{% if _table|length > 0 %}
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title" id="ttptg">TOP TG&apos;s</h3>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0 table-striped table-sm">
              <thead>
              <tr>
                <th style='width: 95px;' id="ttptg_tgid">TG ID</th>
                <th style='width: 515px;' id="ttptg_tgname">Talkgroup Name</th>
                <th style='width: 85px;' id="ttptg_tgqs">Number of QSOs</th>
                <th style='width: 95px;' id="ttptg_tottime">Total Time</th>
                <th style='width: 310px;' id="ttptg_topcall">Most Active Callsigns</th>
              </tr>
              </thead>
              <tbody>
                {% for itm in _table %}
                  <tr>
                    <td><strong>{{ itm[0] }}</strong></td>
                    <td>
                        {% set ctrynum = itm[0]|flag_code %}
                        <img src="./flags/{{ ctrynum }}.png" onerror="this.src='./flags/world.png'" alt="Country {{ ctrynum }}">
                        <strong>&nbsp;{{ itm[1]|safe }}&nbsp;</strong>
                        {% set tgname = itm[1]|safe %}
                        {% if 'fcs' in tgname.lower() or 'ysf' in tgname.lower() or 'wiresx' in tgname.lower() %}
                        <img src="./flags/yaesu.png" alt="Yaesu System Fusion">
                        {% endif %}
                        {% if 'echo' in tgname.lower() or 'echolink' in tgname.lower() %}
                        <img src="./flags/echolink.png" alt="Echolink">
                        {% endif %}
                        {% if 'asl' in tgname.lower() or 'allstar' in tgname.lower() or 'allstarlink' in tgname.lower() %}
                        <img src="./flags/allstar.png" alt="AllStarLink">
                        {% endif %}
                        {% if 'tetra' in tgname.lower() %}
                        <img src="./flags/tetra.png" alt="Tetra">
                        {% endif %}
                        {% if 'd*' in tgname.lower() or 'dstar' in tgname.lower() or 'xlx' in tgname.lower() or 'multiprotocol' in tgname.lower() or 'multi protocol' in tgname.lower() or 'multi-protocol' in tgname.lower() %}
                        <img src="./flags/dstar.png" alt="XLX">
                        {% endif %}
                        {% if 'm17' in tgname.lower() %}
                        <img src="./flags/m17.png" alt="M17">
                        {% endif %}
                      </td>
                    <td>{{ itm[2] }}</td>
                    <td><strong>{{ itm[3] }}</strong></td>
                    <td><strong>{{ itm[4]|join(' - ') }}</strong></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}
<div class="preloader flex-column justify-content-center align-items-center">
  <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  <span class="info-box-text" id="pre_wait"></span>
</div>
{% endif %}
